{% extends 'base.html.twig' %}
{% use "::navbar.html.twig" %}
{% block body %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}
     <div class="jumbotron">
        <div class="container">
            <h1><strong>.:Modulo de administracion de PAGOS</strong></h1>
            <p>aqui podra administrar los diferentes pagos efectuados por los clientes de la empresa</p>
            <footer>
                <a class="btn btn-default" href="{{ path('pagos_new') }}">Ingresar nuevo registro</a>
            </footer>
        </div>
     </div>
     {% if app.session.flashbag.get('Mensaje') %}      
         {% for flashMessage in app.session.flashbag.get('Mensaje') %}
             <div class="alert alert-success" role="alert">
                 <span class="glyphicon glyphicon-warning-sign" ></span> 
                 {{flashMessage}}...
             </div>
         {% endfor%}
     {% endif%}
     {% if app.session.flashbag.get('Alerta') %}      
         {% for flashMessage in app.session.flashbag.get('Alerta') %}
             <div class="alert alert-danger" role="alert">
                 <span class="glyphicon glyphicon-warning-sign" ></span> 
                 {{flashMessage}}...
             </div>
         {% endfor%}
     {% endif%}
<div class="container">
         <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>Montopagado</th>
                <th>Tipopago</th>
                <th>Observacion</th>
                <th>Fechapago</th>               
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% if pagos %}
            {% for pago in pagos %}
            <tr>
                <td><a href="{{ path('pagos_show', { 'id': pago.idpagos }) }}">{{ pago.montopagado }}</a></td>
                <td>{{ pago.tipopago }}</td>
                <td>{{ pago.observacion }}</td>
                <td>{% if pago.fechapago %}{{ pago.fechapago|date('Y-m-d') }}{% endif %}</td>                
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pagos_show', { 'id': pago.idpagos }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('pagos_edit', { 'id': pago.idpagos }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        {% else %}
                <tr >
                    <td colspan="4"><div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign"></span> No hay regiastros en este modulo por los momentos..</div></td>
                </tr>
            {% endif%}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pagos_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
