{% extends '::base.html.twig' %}

{% block body %}
    <h1>Detalle de la solicitud</h1>
    <div class="container">
        <!-- aqui se va a colocar la informacion de la solicitud -->
        <table class="table table-bordered table-responsive">
            <thead>
                <tr class="active">
                    <th>Fecha de entrega de la solicitud</th>
                    <th>Tipo de pago de la solicitud</th>
                    <th>Estatus de la solicitud</th>
                    <th>Total en bolivares de la solicitud</th>
                    
                </tr>
            </thead>
            <tbody>

                {% if solicitud %}
                    {% for solicituds in solicitud%}
                        <tr>
                            <td>{{ solicituds.fechaentrega|date('d-m-Y') }}</td>
                            <td>{{ solicituds.tipopago}}</td>
                            <td>{{ solicituds.estatus }}</td>
                            <td>{{ 'Bs. '~solicituds.t|number_format(2,'.',',') }}</td>
                        </tr>
                    {% endfor%}
                {% else %}
                    <tr >
                        <td colspan="7"><div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign"></span> No hay regiastros en este modulo por los momentos..</div></td>
                    </tr>
                {% endif%}
            </tbody>
        </table>
        <div class="form-inline">
            {{ form_start(form) }}
            <div class="form-group">
                <label>Producto:</label>
                {{ form_widget(form.idproducto) }}
            </div>
            <div class="form-group">
                <label>Cantidad de productos:</label>
                {{ form_widget(form.cantidad) }}
            </div>


            <div class="modal-footer">
                <a href="{{ path('solicitud_index') }}" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Volver atras"><span class="glyphicon glyphicon-arrow-left"></span></a>
                <button class="btn btn-success" type="submit" data-toggle="tooltip" data-placement="top" title="Guardar nuevo registro en la solicitud"><span class="glyphicon glyphicon-floppy-disk"></span></button>
                <a href="{{ path('solicitud_enviar', { 'idsolicitud': idsolicitud }) }}" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Confirmar y enviar solicitud"><span class="glyphicon glyphicon-ok"></span></a>
            </div>

            {{ form_end(form) }}
        </div>


        <table class="table table-bordered table-responsive">
            <thead>
                <tr class="active">
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Total</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>

                {% if solicituddetalles %}
                    {% for solicituddetalle in solicituddetalles%}
                        <tr>
                            <td>{{ solicituddetalle.nombreproducto }}</td>
                            <td>{{ solicituddetalle.cantidad|number_format(2,'.',',') }}</td>
                            <td>{{ 'Bs. '~solicituddetalle.precio|number_format(2,'.',',') }}</td>
                            <td>{{ 'Bs. '~solicituddetalle.total|number_format(2,'.',',') }}</td>
                            <td>                            
                                <div class="form-inline">

                                    <a href="{{ path('solicituddetalle_edit', { 'id': solicituddetalle.idsolicituddetalle }) }}" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Cambiar el item"><span class="glyphicon glyphicon-pencil"></span></a>

                                </div>
                            </td>
                        </tr>
                    {% endfor%}
                {% else %}
                    <tr >
                        <td colspan="7"><div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign"></span> No hay regiastros en este modulo por los momentos..</div></td>
                    </tr>
                {% endif%}
            </tbody>
        </table>
    </div>
    
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            //con esta funcion de jquery trabaja el tooltip
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            });
        });
    </script>
{% endblock %}