{% extends 'base.html.twig' %}

{% block body %}
    <h1>Solicituddetalle</h1>

    <table>
        <tbody>
            <tr>
                <th>Idsolicituddetalle</th>
                <td>{{ solicituddetalle.idsolicituddetalle }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('solicituddetalle_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('solicituddetalle_edit', { 'id': solicituddetalle.idsolicituddetalle }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
