<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
         <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Distribuidora Maher - Sistema Administrativo!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('public/css/bootstrap.css') }}" rel="stylesheet">            
            <link href="{{ asset('public/css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('public/css/jquery.fancybox.css') }}" rel="stylesheet" media="screen">
            
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}          
           <script src="{{ asset('public/js/jquery-1.12.0.js') }}" ></script>
           <script src="{{ asset('public/js/bootstrap.min.js') }}" ></script>
           <!--script src="{{ asset('public/js/jquery.fancybox.pack.js') }}" ></script-->
           <script src="{{ asset('public/js/ekko-lightbox.min.js') }}" ></script>
           
        {% endblock %}
    </body>
</html>
