{% extends 'base.html.twig' %}

{% block body %}
    <h1>Solicitud list</h1>

    <table>
        <thead>
            <tr>
                <th>Fechadolicitud</th>
                <th>Fechaentrega</th>
                <th>Idsolicitud</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for solicitud in solicituds %}
            <tr>
                <td><a href="{{ path('solicitud_show', { 'id': solicitud.idsolicitud }) }}">{{ solicitud.fechadolicitud }}</a></td>
                <td>{% if solicitud.fechaentrega %}{{ solicitud.fechaentrega|date('Y-m-d') }}{% endif %}</td>
                <td>{{ solicitud.idsolicitud }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('solicitud_show', { 'id': solicitud.idsolicitud }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('solicitud_edit', { 'id': solicitud.idsolicitud }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('solicitud_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
