{% extends 'base.html.twig' %}
{% use "::navbar.html.twig" %}
{% block body %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}
     <div class="jumbotron">
        <div class="container">
            <h1><strong>.:Modulo de administracion de MOVIMIENTOS DE ALMACEN</strong></h1>
            <p>aqui podra administrar los diferentes movimientos de almacen generados en la empresa</p>
            <footer>
                <a class="btn btn-default" href="{{ path('movimiento_new') }}">Ingresar nuevo registro</a>
            </footer>
        </div>
     </div>
     {% if app.session.flashbag.get('Mensaje') %}      
         {% for flashMessage in app.session.flashbag.get('Mensaje') %}
             <div class="alert alert-success" role="alert">
                 <span class="glyphicon glyphicon-warning-sign" ></span> 
                 {{flashMessage}}...
             </div>
         {% endfor%}
     {% endif%}
     {% if app.session.flashbag.get('Alerta') %}      
         {% for flashMessage in app.session.flashbag.get('Alerta') %}
             <div class="alert alert-danger" role="alert">
                 <span class="glyphicon glyphicon-warning-sign" ></span> 
                 {{flashMessage}}...
             </div>
         {% endfor%}
     {% endif%}
<div class="container">
         <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>Cantidad</th>
                <th>Fechamovimiento</th>
                <th>Tipomovimiento</th>
                <th>Conceptomovimiento</th>
                <th>Idmovimiento</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for movimiento in movimientos %}
            <tr>
                <td><a href="{{ path('movimiento_show', { 'id': movimiento.idmovimiento }) }}">{{ movimiento.cantidad }}</a></td>
                <td>{% if movimiento.fechamovimiento %}{{ movimiento.fechamovimiento|date('Y-m-d') }}{% endif %}</td>
                <td>{{ movimiento.tipomovimiento }}</td>
                <td>{{ movimiento.conceptomovimiento }}</td>
                <td>{{ movimiento.idmovimiento }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('movimiento_show', { 'id': movimiento.idmovimiento }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('movimiento_edit', { 'id': movimiento.idmovimiento }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('movimiento_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
