{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">  
        <header><h1>.:Registro de un nuevo MOVIMIENTO DE ALMACEN</h1></header>
        <div class="jumbotron">            
            <!--div class="form-inline"-->
                {{ form_start(form) }}
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3"><label for="fm">Cantidad</label></div>                    
                        <div class="col-md-2">{{ form_widget(form.cantidad) }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3"><label for="fm">Fecha del movimiento</label></div>                    
                        <div class="col-md-2">{{ form_widget(form.fechamovimiento) }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3"><label for="fm">tipo de movimiento</label></div>                    
                        <div class="col-md-2">{{ form_widget(form.tipomovimiento) }}</div>                   
                    </div>
                </div>
                <div class="row">    
                    <div class="form-group">
                        <div class="col-md-3"><label for="fm">concepto de movimiento</label></div>                  
                        <div class="col-md-2">{{ form_widget(form.conceptomovimiento) }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3"><label for="fm">Producto a mover</label></div>                    
                        <div class="col-md-2">{{ form_widget(form.idproducto) }}</div> 
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3"><label for="fm">almacena a ser afectado</label></div>                
                        <div class="col-md-2">{{ form_widget(form.idalmacen) }}</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-success" type="submit" value="Guardar" /> | <a class="btn btn-default" href="{{ path('movimiento_index') }}">Volver atras</a>
                </div>
                {{ form_end(form) }}
            <!--/div-->
        </div>
    </div>
    
<footer>
    
</footer>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/bootstrap-datepicker.js') }}" ></script>
    <script type="text/javascript">
        $(document).ready(function() {
         $('.js-datepicker').datepicker({
             format: 'yyyy-mm-dd'
         });
     });
          
    </script>
{% endblock %}
