{% extends 'base.html.twig' %}

{% block body %}
    <h1>Movimiento</h1>

    <table>
        <tbody>
            <tr>
                <th>Cantidad</th>
                <td>{{ movimiento.cantidad }}</td>
            </tr>
            <tr>
                <th>Fechamovimiento</th>
                <td>{% if movimiento.fechamovimiento %}{{ movimiento.fechamovimiento|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Tipomovimiento</th>
                <td>{{ movimiento.tipomovimiento }}</td>
            </tr>
            <tr>
                <th>Conceptomovimiento</th>
                <td>{{ movimiento.conceptomovimiento }}</td>
            </tr>
            <tr>
                <th>Idmovimiento</th>
                <td>{{ movimiento.idmovimiento }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('movimiento_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('movimiento_edit', { 'id': movimiento.idmovimiento }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
