{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style>
      header.container-fluid{
        background-image: url({{asset('public/images/almacen1.jpg')}});
        background-position: 50% 0%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
        color: white;
      }
    </style>
{% endblock %}
{% block body %}
    <header class="container-fluid">
        {# para mostrar el mensaje  #}
        {% for flashMessage in app.session.flashbag.get('Mensaje') %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-warning-sign" ></span> 
                {{flashMessage}}...
            </div>

        {% endfor%}
        {% for flashMessage in app.session.flashbag.get('Mensaje2') %}
            <div class="alert alert-success" role="alert">
                <span class="glyphicon glyphicon-warning-sign" ></span> 
                {{flashMessage}}...
            </div>

        {% endfor%}
        <div class="bs-docs-section">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-1 center-block">
                    <div class="well bs-component">
                        <form class="form-signin" method="post" action="{{ path('seguridad_check') }}" >
                            <h2 class="form-signin-heading">::Seguridad::</h2>
                            <label  class="sr-only">Login</label>
                            <input  id="login" name="login" class="form-control" placeholder="Login"   >
                            <label for="inputPassword" class="sr-only">Password</label>
                            <input type="password" id="pass" name="pass" class="form-control" placeholder="Password"  >

                            <div class="invalid-form-error-message"></div>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                        </form>
                    </div>
                </div>

                <div class="col-lg-6 col-lg-offset-1 center-block ">
                    <!-- Button trigger modal --><div class="jumbotron">
                        <div class="container">
                            <p>Para todos aquellos interesados en ser clientes de esta respetable empresa se les invita a 
                                que se registren en nuestra base de datos de clientes con el fin de brindarles un mejor 
                                servicio</p>
                            <p><a id="registrar" class="btn btn-primary" href="{{path('modal')}}" data-title="Registrar nuevo cliente" data-toggle="lightbox" >Registrar Nuevo usuario</a></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript">
        $(document).ready(function() {
            //con esta funcion de jquery trabaja el tooltip
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            });  
           // $('#registrar').ekkoLightbox();
           $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            }); 
        });
          
    </script>
    
{% endblock %}