{% extends 'base.html.twig' %}
{% block body %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}
    
     {% if app.session.flashbag.get('Mensaje') %}      
         {% for flashMessage in app.session.flashbag.get('Mensaje') %}
             <div class="alert alert-success" role="alert">
                 <span class="glyphicon glyphicon-warning-sign" ></span> 
                 {{flashMessage}}...
             </div>
         {% endfor%}
     {% endif%}
     {% if app.session.flashbag.get('Alerta') %}      
         {% for flashMessage in app.session.flashbag.get('Alerta') %}
             <div class="alert alert-danger" role="alert">
                 <span class="glyphicon glyphicon-warning-sign" ></span> 
                 {{flashMessage}}...
             </div>
         {% endfor%}
     {% endif%}

<div class="container">  
   <div class="row">
        <div class="form-group">
                <div class="col-md-2">
                    Fecha de la solicitud
                </div>
                <div class="col-md-2">
                    Fecha de la entrega
                </div>
                <div class="col-md-2">
                    Estatus de la solicitud
                </div>                
        </div>    
   </div>      
    {% if solicituds %}
        {% for solicitud in solicituds %}
            <div class="row">
                <div class="col-md-3">
                    <a href="{{ path('solicitud_show', { 'idsolicitud': solicitud.idsolicitud }) }}">{{ solicitud.fechadolicitud|date('d-m-Y') }}</a>
                </div>
                <div class="col-md-3">
                    {% if solicitud.fechaentrega %}{{ solicitud.fechaentrega|date('d-m-Y') }}{% endif %}
                </div>
                <div class="col-md-3">
                    {{ solicitud.estatus}}
                </div>
            </div>                  
        {% endfor %}
    {%  else %}
    <div class="col-md-3">
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign"></span> No hay regiastros en este modulo por los momentos..
        </div>
    </div>
    {%  endif %}
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button> 
</div>      
{% endblock %}