{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    <link href="{{ asset('public/css/select2.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('public/css/select2.min.css') }}" rel="stylesheet" media="screen">
{% endblock %}
{% block body %}
    
    <div class="container">
        <header><h1>.:Registro de un nuevo producto</h1></header>
        <div class="jumbotron">
            <div class="form-group">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="modal-footer">
                    <input class="btn btn-success" type="submit" value="Guardar" /> | <a class="btn btn-default" href="{{ path('producto_index') }}">Volver atras</a>
                </div>
                
                {{ form_end(form) }}  
            </div>            
        </div>        
    </div>
{% endblock %}
{% block javascripts  %}
{{ parent() }}
<script src="{{ asset('public/js/select2.min.js') }}" ></script>
<script type="text/javascript">
    $(document).ready(function() {
       $('select').select2();
       /*
        * con este bloque de codigo se calcula el precio de venta de manera automatica
        */
       var pvp=0;
        $('#producto_preciocosto').focusout(function(){
            pvp=$('#producto_preciocosto').val()*1.30;
            $('#producto_precioventa').val(pvp);
        })
    })
</script>
{% endblock %}