{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1><strong>.:Modulo de administracion de RUTAS</strong></h1>
            <p>Consulta</p>
            <footer class="comment">
                <a class="btn btn-default" href="{{ path('ruta_new') }}">Ingresar nuevo registro</a>
            </footer>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered table-responsive">
                    <tbody>
                        <tr>
                            <th>Nombre de la ruta</th>
                            <td>{{ rutum.nombreruta }}</td>
                        </tr>
                        <tr>
                            <th>Detalle de la ruta</th>
                            <td>{{ rutum.detalleruta }}</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
   
    <div class="row">
        <footer>
            <div class="container thumbnail">
                <div class="btn-group btn-group-justified" role="group">
                    <a class="btn btn-default" href="{{ path('ruta_index') }}">Volver atras</a>

                    <a class="btn btn-info" href="{{ path('ruta_edit', { 'id': rutum.idruta }) }}">Modificar registro</a>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}
