{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ruta</h1>

    <table>
        <tbody>
            <tr>
                <th>Nombreruta</th>
                <td>{{ rutum.nombreruta }}</td>
            </tr>
            <tr>
                <th>Detalleruta</th>
                <td>{{ rutum.detalleruta }}</td>
            </tr>
            <tr>
                <th>Idruta</th>
                <td>{{ rutum.idruta }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ruta_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('ruta_edit', { 'id': rutum.idruta }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
