{% extends 'base.html.twig' %}

{% block body %}
    <h1>Plandistribucion</h1>

    <table>
        <tbody>
            <tr>
                <th>Idplandistribucion</th>
                <td>{{ plandistribucion.idplandistribucion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('plandistribucion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('plandistribucion_edit', { 'id': plandistribucion.idplandistribucion }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
